form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 98vh;
    
}
input{
    margin-bottom: 4vh;
    font-size: 3vh;
    margin-top: 10vh;
    
}
button{
    font-size: 2vh;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}
.submit{
    font-size: 4vh;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;

}
li{
    font-size: 3vh;
   

}